<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<string>IMG_000.JPG</string>
		<string>IMG_001.JPG</string>
		<string>IMG_002.JPG</string>
		<string>IMG_003.JPG</string>
		<string>IMG_004.JPG</string>
		<string>IMG_005.JPG</string>
		<string>IMG_006.JPG</string>
		<string>IMG_007.JPG</string>
		<string>IMG_008.JPG</string>
		<string>IMG_009.JPG</string>
		<string>IMG_010.JPG</string>
		<string>IMG_011.JPG</string>
	</array>
</dict>
</plist>
